@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-br from-blue-900 via-blue-800 to-indigo-900 text-white;
  }
}

@layer utilities {
  .text-gradient-yellow {
    @apply bg-gradient-to-r from-yellow-400 to-orange-500 bg-clip-text text-transparent;
  }
}
